{% extends 'base.html.twig' %}

{% block title %} {{ tab_type }} une expérience {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/autocomplete.css') }}">
{% endblock %}

{% block body %}
<div class="col-10 col-md-7 mx-auto my-4">
   <p><a href="{{path('candidate_profile')}}" class="btn btn-dark"><i class="fas fa-arrow-circle-left"></i> Retour</a></p>

<h1>{{ tab_type }} une expérience</h1>

{# Formulaire #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-secondary mb-2">Valider</button>
    </button>
{{ form_end(form) }}
</div>
{% endblock %}



