{% extends 'base.html.twig' %}

{% block title %} {{ tab_type }} une mobilité {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/autocomplete.css') }}">
{% endblock %}

{% block body %}
<div class="col-10 col-md-7 mx-auto my-4">

    <p>
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-dark">
            <i class="fas fa-arrow-circle-left"></i> 
            Retour
        </a>
    </p>
    
    <h1> {{ tab_type }} une mobilité</h1>

    {# Formulaire #}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-secondary mb-2">Valider</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ asset('js/autocomplete.js') }}"></script>
{% endblock %}

{% block footer %}
    <footer>
        <nav class="navbar navbar-light fixed-bottom bg-light justify-content-center">
            <a href="{{path('legal_mentions')}}">
                <button class="btn btn-sm btn-outline-secondary footer-button" type="button">
                    Mentions légales
                </button>
            </a>

            <a href="{{path('contact_us')}}">
                <button class="btn btn-sm btn-outline-secondary footer-button" type="button">
                    Nous contacter
                </button>
            </a>
        </nav>
    </footer>
{% endblock %}
