{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block stylesheets %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/toggle.css') }}">
{% endblock stylesheets %}

{% block body %}
<div class="container col-12" data-url="{{ app.request.server.get('SERVER_NAME') }}"> {# HTTP_HOST <- Local #}
    <p><a href="{{path('home')}}" class="btn btn-dark ml-5 mt-2"><i class="fas fa-arrow-circle-left"></i> Retour</a></p>
    
    <div class="col-12 col-md-11 mx-auto">   

        <div class="col-12 col-md-4 text-center mx-auto">
        {# Messages flash #}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success flash-message mb-2 mx-auto">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger flash-message mb-2">
                {{ message }}
            </div>
        {% endfor %}   
        {% for message in app.flashes('warning') %}
            <div class="alert alert-danger flash-message mb-2">
                {{ message }}
            </div>
        {% endfor %} 
        </div>  

        <div class="col-12 col-md-10 mx-auto">

            {# Carte de visite #}
            <div class="card">
                <div class="card d-flex flex-row flex-wrap justify-content-around">
                    {# image profil & bouton modif #}
                    <div class="d-flex flex-column">
                        <div class="p-2">
                            <img src="{{ asset('uploads/images/'~ (candidateDatas.picture ?:'default-candidate.png')) }}"
                                style="width: 100px;height:100px;" class="mb-2 rounded-circle" />
                        </div>

                        <div class="p-2">
                            <p class ="text-center">
                                <a href= "{{ path("picture_edit", {"id": candidateDatas.id }) }}">
                                    <button class="btn btn-light btn-sm" id="" type="button"> <i class="fas fa-edit"></i></button>
                                </a>
                            </p>
                        </div>
                    </div>

                    {# nom/prénom/mail/tel/ & bouton modif #}   
                    <div class="d-flex flex-column ">
                        <div class="p-2 table-responsive">
                            <table class="table">
                                
                                {# titre de colonne Infos persos #}
                                <thead>       
                                    <th scope="col" class="font-weight-bold h5">
                                    Informations Personnelles
                                        <a href= "{{ path("candidate_informations") }}">
                                            <button class="btn btn-light btn-sm" id="" type="button"> <i class="fas fa-edit"></i></button>
                                        </a>
                                    </th>
                                </thead>

                                {# Contenu colonne Infos persos #}
                                <tbody>
                                    <tr>
                                        <th>{{ app.user.firstname }} {{ app.user.lastname }}</th>
                                    </tr>
                                    <tr>
                                        <td>{{ app.user.email }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table">

                                {# titre de colonne Carte de visite #}
                                <thead>
                                    <tr>          
                                        <th scope="col" class="font-weight-bold h5">
                                        Carte de visite
                                            <a href= "{{ path("presentation_edit", {"id": candidateDatas.id }) }}">
                                                <button class="btn btn-light btn-sm" id="" type="button"> <i class="fas fa-edit"></i></button>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                
                                {# Contenu colonne carte de visite #}
                                <tbody>                              
                                    <tr>
                                        <td>
                                            <span class="font-weight-bold">Visible par les recruteurs :</span>
                                                {% if candidateInformation.visibilityChoice == 0 %}
                                                    prénom et nom
                                                {% elseif candidateInformation.visibilityChoice == 2 %}
                                                    prénom
                                                {% else %}
                                                    nom
                                                {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="font-weight-bold">Téléphone :</span>
                                            {{ candidateDatas.phoneNumber }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                         
                        </div>
                    </div>
                        
                    {# Statut, mobilities & boutons #}
                    <div class="d-flex flex-column"> 
                        <div class="p-2 table-responsive">
                            <table class="table">
                                <tbody>
                        
                                    {% for webSite in webSites %}
                                  
                                    <tr>
                                        <td><a href="{{webSite.link}}">{{webSite.name}}</a>
                                            <a href= "{{ path("website_edit", {"id": webSite.id }) }}">
                                                <button class="btn btn-light btn-sm" id="" type="button"> <i class="fas fa-edit"></i></button>
                                            </a>
                                            <a href= "{{ path("website_delete", {"id": webSite.id }) }}">
                                                <button class="btn btn-light btn-sm" id="" type="button"><i class="far fa-trash-alt delete-button"></i></button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>
                                            <a href="{{ path("website_add") }}"><button type="button" class="btn btn-outline-success btn-sm">Ajouter un site <i class="fas fa-plus-circle"></i></button></a>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <th> 
                                            <span class="mr-2">En recherche d'alternance : </span>
                                            
                                        </th>
                                        <td>
                                            <input type="checkbox" 
                                            {% if candidateInformation.adopted is empty %}
                                            checked
                                            {% endif %}
                                            data-toggle="toggle" data-on="Oui" data-off="Non" data-onstyle="success" data-offstyle="danger" >
                                        </td>
                                    </tr>
                                    <tr class="mobility {% if candidateInformation.adopted is not empty %}d-none{% endif %}">
                                        <th class="text-secondary">
                                            Lieux de recherche :
                                        </th>
                                    </tr>
                                    <tr class="mobility {% if candidateInformation.adopted is not empty %}d-none{% endif %}">
                                        <td >
                                            {% for mobilityInfo in mobilitiesInfo %}
                                                <p>{{mobilityInfo.townName}}, {{mobilityInfo.department.name}} </p>
                                            {% endfor %}
                                        </td> 
                                                                                        
                                        <td >
                                            {% for mobilityInfo in mobilitiesInfo %}
                                                <p class ="mb-1">
                                                    <a href= "{{ path("mobility_delete", {"id": mobilityInfo.id }) }}"><button class="btn btn-light btn-sm" id="" type="button"><i class="far fa-trash-alt delete-button"></i></button>
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        </td>                                                       
                                    </tr>
                                    <tr class="mobility {% if candidateInformation.adopted is not empty %}d-none{% endif %}">
                                        <td>
                                            <a href="{{ path("mobility_add")}}"><button type="button" class="btn btn-outline-success btn-sm">Ajouter un lieu <i class="fas fa-plus-circle"></i></button></a>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>                             
                        </div>                     
                    </div> {# fin site web, statut recherche ou adopté &mobilities & boutons modif #}
                </div> {# Fin carte visite #}
            </div>
            {# Accordéon Ils ont vu votre profil #}
            {% if viewsInfo is not empty %}
                <div class="card accordion col-12 col-lg-12 p-0" id="accordionExample">
                    <div class="card-header col-12 h5 mb-0 text-white text-center profil" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ces entreprises vous ont repéré !
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body d-md-flex flex-row flex-wrap justify-content-around">
                            {% for viewInfo in viewsInfo %}
                                <h3><span class="badge badge-pill badge-info">{{ viewInfo.companyName}}</span></h3>     
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            
            {# A propos de moi #}
            <div class="card">
                <div class="card-header">
                        <h2 class="h5 mb-0 text-center text-secondary">
                            À propos de moi
                            <a href= "{{ path("about_edit", {"id": visitCardId }) }}">
                                <button class="btn btn-light btn-sm " id="" type="button"> <i class="fas fa-edit"></i></button>
                            </a>
                        </h2>
                </div>
                <div class="card-body">
                    <p class="text-justify text-profile">
                        {% if candidateInformation.about is empty %}
                            <div class="small text-muted text-center">{{ "Vous n'avez ajouté aucune présentation." }}</div>
                        {% else %}
                            {{ candidateInformation.about}}
                        {% endif %}
                    </p>
                </div>
            </div>

           {# Compétences #}
            <div class="card">
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        Compétences
                        <a href= "{{ path("skill_edit", {"id": candidateInformation.id}) }}">
                            <button class="btn btn-light btn-sm " id="" type="button"> <i class="fas fa-edit"></i></button>
                        </a>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="row justify-content-around">

                    {% if candidateInformation.skills is empty %}
                    <div class="small text-muted">{{ "Vous n'avez ajouté aucune compétence." }}</div>
                    {% else %}
                        {% for skill in candidateInformation.skills %}
                        <button type="button" class="btn btn-warning mb-2">{{ skill.name }}<a href="{{path('skill_delete', {'id': skill.id})}}"><i class="far fa-times-circle delete-skill"></i></a></button>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>                        
            </div> {# Fin carte compétences #}

            {# Alternance recherchée #}
            <div class="card">
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        Alternance recherchée
                        {% if apprenticeshipsInfo is empty %}
                            <a href= "{{ path("apprenticeship_add") }}">
                                <button class="btn btn-light" id="" type="button"> <i class="fas fa-plus-circle"></i></button>
                            </a>
                        {% endif %}
                    </h2>
                </div>

                {# Si alternance recherchée (statut 2), pas de bouton Ajouter #}
                <div class="card-body">
                    {% if apprenticeshipsInfo is empty %}
                        <div class="small text-muted text-center">{{ "Vous n'avez ajouté aucune recherche d'alternance." }}</div>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="col" class="text-secondary d-flex col-4">
                                            Mon souhait d'alternance 
                                        </th>
                                        <th scope="col" class="text-info d-flex col-7">
                                            <a href= "{{ path("apprenticeship_edit", {"id": apprenticeshipsInfo.formation.id }) }}">
                                                <button class="btn btn-light btn-sm " id="" type="button"> <i class="fas fa-edit"></i></button>
                                            </a>
                                            <a href= "{{ path("apprenticeship_delete", {"id": apprenticeshipsInfo.formation.id }) }}"><button class="btn btn-light btn-sm" id="" type="button"><i class="far fa-trash-alt delete-button"></i></button>
                                            </a>                      
                                        </th>                           
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">A partir du </th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.startedAt|date("m/d/Y")}}</td>                                                      
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">Jusqu'au </th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.endedAt|date("m/d/Y")}}</td>
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">Avec l'école</th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.school.name }}</td>
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">Pour obtenir le diplôme</th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.awardName }}</td>
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">De niveau</th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.awardLevel.name }}</td>
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">Avec un rythme de</th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.academicPace }}</td>
                                    </tr>                                            
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div> {# Fin Alternance recherchée #}

                {# Formation #}
                <div class="card">
                    <div class="card-header">
                        <h2 class="h5 mb-0 text-center text-secondary">
                            Formations
                            <a href= "{{ path("formation_add") }}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-plus-circle"></i></button>
                            </a>
                        </h2>
                    </div>
                    <div class="card-body">
                    {% if formationsInfo is empty %}
                        <div class="small text-muted text-center">{{ "Vous n'avez ajouté aucune formation." }}</div>
                    {% else %}
                        {% for formationInfo in formationsInfo %}
                            {% if formationInfo.status == 2 %}
                            {% else %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>{# titre de colonnes #}
                                            <tr class ="d-flex justify-content-center">
                                                <th scope="col" class="text-secondary col-4">
                                                {{ formationInfo.awardName}}
                                                </th>
                                                <th class="text-info col-7">
                                                    <a href= "{{ path("formation_edit", {"id": formationInfo.id }) }}">
                                                        <button class="btn btn-light btn-sm " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                    </a>
                                                    <a href= "{{ path("formation_delete", {"id": formationInfo.id }) }}"><button class="btn btn-light btn-sm" id="" type="button"><i class="far fa-trash-alt delete-button"></i></button>
                                                    </a>
                                                </th>          
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class ="d-flex justify-content-center">{#Niveau du diplôme#}
                                                <th scope="row" class ="d-flex col-4">Niveau scolaire
                                                </th>                                                    
                                                <td class ="d-flex col-7">{{ formationInfo.awardLevel.name}}
                                                </td>                                                       
                                            </tr>
                                            <tr class ="d-flex justify-content-center"> {# Nom de l'école #}
                                                <th scope="row" class ="d-flex col-4">École
                                                </th>                                         
                                                <td class ="d-flex col-7">{{ formationInfo.school.name}}
                                                </td>       
                                            </tr>
                                            <tr class ="d-flex justify-content-center">{# Date obtention diplôme OU formation toujours en cours #}
                                                <th scope="row" class ="d-flex col-4">Date d'obtention du diplôme
                                                </th>
                                                <td class ="d-flex col-7">                                          
                                                    {% if formationInfo.status == 0 %}
                                                        {% if formationInfo.obtainedAt is empty %}
                                                            en cours
                                                        {% else %}
                                                            {{ formationInfo.obtainedAt|date("d/m/Y")}}
                                                        {% endif %}
                                                    {% elseif formationInfo.status == 1 %}
                                                        en cours
                                                    {% elseif formationInfo.status == 2 %}
                                                    en cours et en recherche d'alternance
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div> {# Fin carte formation #}

                {# Expériences #}
                <div class="card">
                    <div class="card-header">
                        <h2 class="h5 mb-0 text-center text-secondary">
                            Expériences
                            <a href= "{{ path("experience_add")}}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-plus-circle"></i></button>
                            </a>
                        </h2>
                    </div>
                    <div class="card-body">
                        {% if experiencesInfo is empty %}
                            <div class="small text-muted text-center">{{ "Vous n'avez ajouté aucune expérience." }}</div>
                        {% else %}
                            {% for experienceInfo in experiencesInfo %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr class ="d-flex justify-content-center">
                                                <th scope="col" class="col-4">
                                                    <span class="badge badge-pill badge-info">{{ experienceInfo.companyName}}</span>
                                                </th>
                                                <th class="text-info col-7">
                                                    <a href= "{{ path("experience_edit", {"id": experienceInfo.id }) }}">
                                                        <button class="btn btn-light btn-sm " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                    </a>
                                                    <a href= "{{ path("experience_delete", {"id": experienceInfo.id }) }}"><button class="btn btn-light btn-sm" id="" type="button"><i class="far fa-trash-alt delete-button"></i></button>
                                                    </a>
                                                </th>          
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class ="d-flex justify-content-center">
                                                <th scope="col" class="col-4">Période</th>
                                                <td class ="d-flex col-7">
                                                    Du {{ experienceInfo.startedAt|date("m/d/Y")}}
                                                    {% if experienceInfo.endedAt == null %}
                                                    à aujourd'hui
                                                    {% else %}
                                                    au {{ experienceInfo.endedAt|date("m/d/Y")}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr class ="d-flex justify-content-center">
                                                <th scope="row" class ="d-flex col-4">Description</th>            
                                                <td class ="d-flex col-7">{{ experienceInfo.description}}</td>  
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {# Atouts #}
                    <div class="card">
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Atouts
                                <a href= "{{ path("asset_add") }}">
                                    <button class="btn btn-light" id="" type="button"> <i class="fas fa-plus-circle"></i></button>
                                </a>
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-around">

                            {% if additionalsInfo is empty %}
                            <div class="small text-muted">{{ "Vous n'avez ajouté aucun atout." }}</div>
                            {% else %}
                                {% for additionalInfo in additionalsInfo %}
                                    {% if additionalInfo.typeInfo == 'assert' %}
                                    <button type="button" class="btn btn-info mb-2"> {{additionalInfo.content}}<a href="{{ path("asset_edit", {"id": additionalInfo.id }) }}"><i class="far fa-edit edit-asset btn-sm"></i></a><a href="{{ path("asset_delete", {"id": additionalInfo.id }) }}"><i class="far fa-times-circle delete-asset"></i></a></button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>                        
                    </div> {# Fin carte atouts #}

                    {# Centres d'intérêt #}
                    <div class="card">
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Centres d'intéret
                                <a href= "{{path("interest_add")}}">
                                    <button class="btn btn-light" id="" type="button"> <i class="fas fa-plus-circle"></i></button>
                                </a>
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-around">

                            {% if additionalsInfo is empty %}
                                <div class="small text-muted">{{ "Vous n'avez ajouté aucun centre d'intérêt." }}</div>
                            {% else %}
                                {% for additionalInfo in additionalsInfo %}
                                    {% if additionalInfo.typeInfo == 'interest' %}
                                    <button type="button" class="btn btn-info mb-2">
                                        {{additionalInfo.content}}
                                        <a href="{{ path("asset_edit", {"id": additionalInfo.id }) }}">
                                            <i class="far fa-edit edit-asset btn-sm"></i>
                                        </a>
                                        <a href="{{ path("asset_delete", {"id": additionalInfo.id }) }}">
                                            <i class="far fa-times-circle delete-asset"></i>
                                        </a>
                                    </button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>                        
                    </div> {# Fin centre interet #}
                </div> {# Fin carte exp #}
            </div>
        </div> 
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/toggle.js') }}"></script>
{% endblock javascripts %}
