{% extends 'base.html.twig' %}

{% block title %}Envoyer un message {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/autocomplete.css') }}">
{% endblock %}

{% block body %}
<div class="col-10 col-md-7 mx-auto my-4">
   <p><a href="{{ app.request.headers.get('referer') }}" class="btn btn-dark ml-lg-4"><i class="fas fa-arrow-circle-left"></i> Retour</a></p>

<h1>Envoyer un message</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.subject) }}

    {{ form_row(form.text) }}
    {{ form_rest(form) }}
        <button type="submit" class="btn btn-secondary mb-2">Envoyer</button>
    </button>
{{ form_end(form) }}
</div>
{% endblock %}
