<h3>
    Prise de contact par {{email.recruiter}} recruteur au sein de l'entreprise {{email.companyName}}
</h3>

<p>{{email.subject|nl2br}}</p>


<p>{{email.text|nl2br}}</p>


<p>
    Vous pouvez contacter ce recruteur à l'adresse email suivante :
    <a href="{{email.recruiterEmail}}">{{email.recruiterEmail}}</a>, ou en répondant directement à cet email.</p>

<p>Merci !</p>

<p>L'équipe d'AdopteUnAlternant</p>