{% extends 'base.html.twig' %}

{% block title %}Profil candidat{% endblock %}

{% block body %}

<div class="col-12 url" data-url="{{ app.request.server.get('SERVER_NAME') }}"> {# HTTP_HOST <-- Local #}
    <p class="ml-3 ml-md-5">
        <a href="{{path('candidates_list')}}" class="btn btn-dark mt-2 ml-4">
            <i class="fas fa-arrow-circle-left"></i> 
            Retour
        </a>
    </p>
    
    <div class="col-12 col-md-11 mx-auto">   

        <div class="col-12 col-md-4 text-center mx-auto">
        {# Messages flash #}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success flash-message mb-2 mx-auto">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger flash-message mb-2">
                {{ message }}
            </div>
        {% endfor %}   
        {% for message in app.flashes('warning') %}
            <div class="alert alert-danger flash-message mb-2">
                {{ message }}
            </div>
        {% endfor %} 
        </div>  

        {# Message d'erreur de js #} 
        <div class="alert alert-danger flash-js mb-2 d-none"></div>

        <div class="col-12 col-md-10 mx-auto">

            {# Carte de visite #}
            <div class="card">
                <div class="card d-flex flex-row flex-wrap justify-content-around">
                    {# image profil & bouton modif #}
                    <div class="text-center">
                        <div class="p-2">
                            <img src="{{ asset('uploads/images/'~ (candidateDatas.picture ?:'default-candidate.png')) }}"
                                style="width: 100px;height:100px;" class="mb-2 rounded-circle" />
                        </div>
                        {% if is_granted('ROLE_RECRUITER') %}
                            <div class="p-2">
                                <p class ="text-center">
                                    {% if isFavorite == true %}
                                        <button type="button" class="btn btn-danger favorite" data-isfavorite="1" data-candidate="{{candidateDatas.user.id}}">Ce candidat ne m'intéresse plus <i class="fas fa-heart-broken"></i></button>
                                    {% else %}
                                        <button type="button" class="btn btn-warning favorite" data-isfavorite="0" data-candidate="{{candidateDatas.user.id}}">Ce candidat m'intéresse <i class="far fa-heart"></i></button>
                                    {% endif %}
                                </p>
                                <p class ="text-center">
                                    <a href="{{path('email_send', {'id': candidateDatas.user.id })}}"><button type="button" class="btn btn-success">Contacter par mail <i class="far fa-envelope"></i></button></a>
                                </p>
                                <p class ="text-center">
                                    <a href="{{path('message_show')}}?new={{ candidateDatas.id }}"><button type="button" class="btn btn-info"> Lancer une discussion <i class="far fa-comments"></i></button></a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    {# Identité, email, tel, site internet #}
                    <div class="d-flex flex-column ">
                        <div class="p-2 table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>
                        
                                        {% if candidateInformation.visibilityChoice == 0 %}
                                            {{ candidateDatas.user.firstname }} {{ candidateDatas.user.lastname }}
                                        {% elseif candidateInformation.visibilityChoice == 2 %}
                                            {{ candidateDatas.user.firstname }}
                                        {% else %}
                                            {{ candidateDatas.user.lastname }}
                                        {% endif %} 
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>{{ candidateDatas.user.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ candidateDatas.phoneNumber }}
                                        </td>
                                    </tr>
                                    {% for webSite in webSites %}
                                    <tr>
                                        <td>  <a href="{{webSite.link}}">{{webSite.name}}</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                      
                        </div>
                    </div>
                    {# En recherche ou pas, lieux de recherche #}
                    <div class="d-flex flex-column"> 
                        <div class="p-2 table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        {% if candidateInformation.adopted == 1 %}
                                            <th> <span class="badge badge-pill badge-success">Adopté !</span>
                                        {% else %}
                                            <th> <span class="badge badge-pill badge-warning">En recherche d'alternance</span>
                                        {% endif %}
                                            </th>
                                    </tr>

                                    {# Si le candidat est adopté, on n'affiche plus ses lieux de recherche #}
                                    {% if candidateInformation.adopted == 1 %}

                                    {# Si le candidat n'est pas adopté, on affiche ses lieux de recherche #}
                                    {% else %}
                                    <tr>
                                        <th class="text-secondary">Lieux de recherche :
                                        </th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td >
                                            {% for mobilityInfo in mobilitiesInfo %}
                                                <p>{{mobilityInfo.townName}}, {{mobilityInfo.department.name}} </p>
                                            {% endfor %}
                                        </td>                                              
                                        <td >
                                            {% for mobilityInfo in mobilitiesInfo %}

                                            {% endfor %}
                                        </td>                                                       
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>                             
                        </div>                     
                    </div>
                </div>
            </div> {# Fin carte de visite #}

            {# A propos #}
            <div class="card">
                <div class="card-header">
                        <h2 class="h5 mb-0 text-center text-secondary">
                            À propos du candidat
                        </h2>
                </div>
                <div class="card-body">
                    <p class="text-justify text-profile">
                        {% if candidateInformation.about is empty %}
                            <div class="small text-muted text-center">{{ "Le candidat n'a ajouté aucune présentation." }}</div>
                        {% else %}
                            {{ candidateInformation.about}}
                        {% endif %}
                    </p>
                </div>
            </div> {# Fin à propos #}

           {# Compétences #}
            <div class="card">
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        Compétences
                    </h2>
                </div>
                <div class="card-body">
                    <div class="row justify-content-around">

                    {% if candidateInformation.skills is empty %}
                    <div class="small text-muted">{{ "Le candidat n'a ajouté aucune compétence." }}</div>
                    {% else %}
                        {% for skill in candidateInformation.skills %}
                        <h5><div class="badge badge-warning p-2">{{ skill.name }}</div></h5>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>                        
            </div> {# Fin compétences #}

            
            <div class="card">
                {# Alternance recherchée #}
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        Alternance recherchée
                    </h2>
                </div>
                <div class="card-body">
                    {% if apprenticeshipsInfo is empty %}
                        <div class="small text-muted text-center">{{ "Le candidat n'a ajouté aucune recherche d'alternance." }}</div>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="col" class="text-secondary d-flex col-4">
                                            Souhait d'alternance du candidat 
                                        </th>
                                        <th scope="col" class="text-info d-flex col-7">  
                                        </th>                           
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">A partir du </th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.startedAt|date("m/d/Y")}}</td>                                                      
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">Jusqu'au </th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.endedAt|date("m/d/Y")}}</td>
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">Avec l'école</th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.school.name }}</td>
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">Pour obtenir le diplôme</th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.awardName }}</td>
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">De niveau</th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.formation.awardLevel.name }}</td>
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">Avec un rythme de</th> 
                                            <td class ="d-flex col-7">{{ apprenticeshipsInfo.academicPace }}</td>
                                    </tr>                                            
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                       
                </div> 
                {# Fin Alternance recherchée #}
                
                {# Formation #}
                <div class="card">
                    <div class="card-header">
                        <h2 class="h5 mb-0 text-center text-secondary">
                            Formations
                        </h2>
                    </div>
                    <div class="card-body">
                    {% if formationsInfo is empty %}
                        <div class="small text-muted text-center">{{ "Le candidat n'a ajouté aucune formation." }}</div>
                    {% else %}
                        {% for formationInfo in formationsInfo %}
                            {% if formationInfo.status == 2 %}
                            {% else %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>{# titre de colonnes #}
                                            <tr class ="d-flex justify-content-center">
                                                <th scope="col" class="text-secondary col-4">
                                                {{ formationInfo.awardName}}
                                                </th>
                                                <th class="text-info col-7">
                                                </th>          
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr class ="d-flex justify-content-center">{#Niveau du diplôme#}
                                                <th scope="row" class ="d-flex col-4">Niveau scolaire
                                                </th>                                                    
                                                <td class ="d-flex col-7">{{ formationInfo.awardLevel.name}}
                                                </td>                                                       
                                            </tr>
                                            <tr class ="d-flex justify-content-center"> {# Nom de l'école #}
                                                <th scope="row" class ="d-flex col-4">École
                                                </th>                                         
                                                <td class ="d-flex col-7">{{ formationInfo.school.name}}
                                                </td>       
                                            </tr>
                                            <tr class ="d-flex justify-content-center">{# Date obtention diplôme OU formation toujours en cours #}
                                                <th scope="row" class ="d-flex col-4">Date d'obtention du diplôme
                                                </th>                                          
                                                {% if formationInfo.status == 0 %}
                                                <td class ="d-flex col-7">{{ formationInfo.obtainedAt|date("m/d/Y")}}</td>
                                                {% elseif formationInfo.status == 1 %}
                                                <td class ="d-flex col-7">en cours</td>
                                                {% elseif formationInfo.status == 2 %}
                                                <td class ="d-flex col-7">en cours et en recherche d'alternance</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div> {# Fin formation #}

                
                <div class="card">
                    {# Expériences #}
                    <div class="card-header">
                        <h2 class="h5 mb-0 text-center text-secondary">
                            Expériences
                        </h2>
                    </div>
                    <div class="card-body">
                    {% if experiencesInfo is empty %}
                        <div class="small text-muted text-center">{{ "Le candidat n'a ajouté aucune expérience." }}</div>
                    {% else %}
                        {% for experienceInfo in experiencesInfo %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="col" class="col-4">
                                            <span class="badge badge-pill badge-info">{{ experienceInfo.companyName}}</span>
                                        </th>  
                                        <th class="text-info col-7">
                                        </th>           
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="col" class="col-4">Période</th>
                                        <td class ="d-flex col-7">
                                            Du {{ experienceInfo.startedAt|date("m/d/Y")}}
                                            {% if experienceInfo.endedAt == null %}
                                            à aujourd'hui
                                            {% else %}
                                            au {{ experienceInfo.endedAt|date("m/d/Y")}}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class ="d-flex justify-content-center">
                                        <th scope="row" class ="d-flex col-4">Description</th>            
                                        <td class ="d-flex col-7">{{ experienceInfo.description}}</td>  
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div> 
                    {# Fin expériences #}

                    {# Atouts #}
                    <div class="card">
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Atouts
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-around">

                            {% if additionalsInfo is empty %}
                            <div class="small text-muted">{{ "Le candidat n'a ajouté aucun atout." }}</div>
                            {% else %}
                                {% for additionalInfo in additionalsInfo %}
                                    {% if additionalInfo.typeInfo == 'assert' %}
                                    <h5><div class="badge badge-info p-2"> {{additionalInfo.content}}</div></h5>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>                        
                    </div> {# Fin atouts #}

                    {# Centres d'intérêt #}
                    <div class="card">
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Centres d'intéret
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-around">

                            {% if additionalsInfo is empty %}
                                <div class="small text-muted">{{ "Le candidat n'a ajouté aucun centre d'intérêt." }}</div>
                            {% else %}
                                {% for additionalInfo in additionalsInfo %}
                                    {% if additionalInfo.typeInfo == 'interest' %}
                                    <h5><div class="badge badge-info p-2">{{additionalInfo.content}}</div></h5>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>                        
                    </div> {# Fin centre d'intérêt #}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/favorite.js') }}"></script>
{% endblock javascripts %}